aside.logo {
    background-color: "#000";
    display: flex;
    justify-content: center;
    align-items: center;
}

aside.logo img {
    padding: 0px 15px;
    width: 80%;
}

@media(max-width: 576px){
    aside.logo img {
        width: 300px;
    }
}